# General
archive
*.bak
.DS_Store
Thumbs.db

# Cache
__pycache__/
font/cache

# Virtual environments
.venv/

# Python build artifacts
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Personal test files
tmp/